<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Modifier l'utilisateur</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form [formGroup]="updatAdmin" (ngSubmit)="onUpdatAdminSubmit(updatAdmin.value)" novalidate>
            <div class="form-group">
              <label for="inputEmail">Nom d'utilisateur</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Entrez le nom de l'utilisateur" required>
              <small class="form-text text-muted danger"
                *ngIf="!updatAdmin.get('name').valid && (updatAdmin.get('name').dirty || updatAdmin.get('name').touched)">
                Le nom est obligatoire</small>
            </div>
            <div class="form-group text-right" style="align-content: center;">
              <button type="button" (click)="onClickCancel()" class="btn btn-danger btn-raised mr-1">Annuler</button>
              <button type="submit" class="btn btn-success btn-raised" [disabled]="!updatAdmin.valid">Soumettre</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>