<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ajouter une recette</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form [formGroup]="addReciepeForm" (ngSubmit)="onAddReciepeFormSubmit(addReciepeForm.value)" novalidate
            enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" formControlName="name"
                placeholder="Entrez le nom de la recette" required>
              <small class="form-text text-muted danger"
                *ngIf="!addReciepeForm.get('name').valid && (addReciepeForm.get('name').dirty || addReciepeForm.get('name').touched)">
                Le nom est obligatoire</small>
            </div>
            <div class="form-group">
              <label for="number_of_persons">Nombre de personnes</label>
              <input type="number" class="form-control" id="num_of_prson" formControlName="number_of_persons"
                placeholder="Entrez le nombre de personnes" required>
              <small class="form-text text-muted danger"
                *ngIf="!addReciepeForm.get('number_of_persons').valid && (addReciepeForm.get('number_of_persons').dirty || addReciepeForm.get('number_of_persons').touched)">
                Le nombre de personnes est obligatoire</small>
            </div>
            <div class="form-group">
              <label for="varieties_used">variétés utilisées</label>
              <input type="text" class="form-control" id="variety_used" formControlName="varieties_used"
                placeholder="Entrez les variétés utilisées" required>
              <small class="form-text text-muted danger"
                *ngIf="!addReciepeForm.get('varieties_used').valid && (addReciepeForm.get('varieties_used').dirty || addReciepeForm.get('varieties_used').touched)">
                Les variétés utilisées sont obligatoires</small>
            </div>

            <div class="form-group">
              <label for="ingredients">Ingrédients</label>
              <quill-editor placeholder="Entrez les ingrédients utilisés pour cette recette " style="height: 500px;"
                formControlName="ingredients" required>
              </quill-editor>
            </div>
            <div class="form-group">
              <label for="preparationsteps">étapes de préparation</label>
              <quill-editor placeholder="Entrez les étapes de préparations pour cette recette" style="height: 500px"
                formControlName="preparation_steps" required>
              </quill-editor>

              <small class="form-text text-muted danger"
                *ngIf="!addReciepeForm.get('preparation_steps').valid && (addReciepeForm.get('preparation_steps').dirty || addReciepeForm.get('preparation_steps').touched)">
                Les étapes de préparation sont obligatoires</small>
            </div>
            <div class="form-group">
              <label for="more">Plus</label>
              <textarea rows="3" class="form-control" id="more" formControlName="more"
                placeholder="Entrez les plus de cette recette">
              </textarea>
              <small class="form-text text-muted danger"
                *ngIf="!addReciepeForm.get('more').valid && (addReciepeForm.get('more').dirty || addReciepeForm.get('more').touched)">
                Plus sont obligatoires</small>
            </div>
            <div class="form-group">
              <label for="status">Statut</label>
              <ng-select [items]="statusData" bindLabel="value" bindValue="id" placeholder="Sélectionnez le statut"
                [(ngModel)]="selectedStatus" formControlName="status">
              </ng-select>
              <small class="form-text text-muted danger"
                *ngIf="!addReciepeForm.get('status').valid && (addReciepeForm.get('status').dirty || addReciepeForm.get('status').touched)">
                Le statut est requis</small>
            </div>

            <div class="form-group">
              <label for="reletedprod">Sélectionnez les produits liés</label>
              <ng-select [items]="reletedProd" bindLabel="name" bindValue="id" [multiple]="true"
                placeholder="Sélectionnez un produit reloué" [(ngModel)]="selectedProdId" formControlName="reletedprod">
              </ng-select>

            </div>
            <div>
              <span>
                Remarque: assurez-vous que la résolution de l'image téléchargée est 1080x576 et que la taille de
                l'image n'est pas supérieure à 150 ko.
              </span>
            </div>
            <div class="form-group custom-file  mx-auto d-block">
              <section id="file-upload ml-0 col-md-3">
                <label class="custom-file">Sélectionnez l'image</label>
                <input type="file" formControlName="recipe_img" (change)="handleFileInput($event.target.files)"
                  accept="image/*" multiple>
                <span class="custom-file-control"></span>
                <small class="form-text text-muted danger"
                  *ngIf="!addReciepeForm.get('recipe_img').valid && (addReciepeForm.get('recipe_img').dirty || addReciepeForm.get('recipe_img').touched)">
                  Sélectionnez l'image</small>
              </section>
            </div>
            <div class="form-group text-right" style="align-content: center;">
              <button type="button" (click)="onClickCancel()" class="btn btn-danger btn-raised mr-1">Annuler</button>
              <button type="submit" class="btn btn-success btn-raised"
                [disabled]="!addReciepeForm.valid">Soumettre</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>