<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body login-img">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                  <img src="/clisson/assets/img/gallery/ID JARDIN.png" alt="" class="img-fluid " width="400"
                    height="230" />
                </div>

                <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                  <h4 class="card-title mb-2">S'identifier</h4>
                  <p class="card-text mb-3">
                    Bienvenue à nouveau, veuillez vous connecter à votre compte.
                  </p>
                  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)" novalidate>
                    <div class="form-group">
                      <label for="name">Nom d'utilisateur</label>
                      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Saisissez votre nom d'utilisateur"
                        required>
                      <small class="form-text text-muted danger"
                        *ngIf="!LoginForm.get('name').valid && (LoginForm.get('name').dirty || LoginForm.get('name').touched)">
                        Veuillez saisir un nom d'utilisateur valide!</small>
                    </div>
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Entrer le mot de passe" required>
                      <small class="form-text text-muted danger" *ngIf="!LoginForm.get('password').valid && (LoginForm.get('password').dirty || LoginForm.get('password').touched)">Entrez le mot de passe correct</small>
                    </div>
                    <div class="form-group text-right" style="align-content: center;">
                      <button type="submit" class="btn btn-success btn-raised"
                        [disabled]="!LoginForm.valid">S'identifier</button>
                    </div>
                    <hr class="m-0" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->