
  <div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ajouter des détails sur les conseils de récolte</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form [formGroup]="EditCropAdviceForm" (ngSubmit)="onSubmitForm(EditCropAdviceForm.value)" novalidate>
            <div class="form-group" *ngIf="updateRecord && updateRecord.name">
              <label for="name">Nom</label><br>
              <span>
                {{updateRecord.name}}
              </span>
            </div>
            <div class="form-group">
              <label for="cropAdvice">Détail du conseil de culture</label>
              <quill-editor placeholder="Détail du conseil de culture" style="height: 200px" formControlName="cropAdvice"
                required>
              </quill-editor>
              <small class="form-text text-muted danger"
                *ngIf="!EditCropAdviceForm.get('cropAdvice').valid && (EditCropAdviceForm.get('cropAdvice').dirty || EditCropAdviceForm.get('cropAdvice').touched)">
                Le détail du conseil du culture est obligatoire</small>
            </div>
            <div class="form-group">
              <label for="status">Statut</label>
              <ng-select [items]="statusData" bindLabel="value" bindValue="id" placeholder="Sélectionnez le statut"
                [(ngModel)]="selectedStatus" formControlName="status">
              </ng-select>
              <small class="form-text text-muted danger"
                *ngIf="!EditCropAdviceForm.get('status').valid && (EditCropAdviceForm.get('status').dirty || EditCropAdviceForm.get('status').touched)">
                Le statut est requis</small>
            </div>
            <div class="form-group text-right" style="align-content: center;">
              <button type="button" (click)="onClickCancel()" class="btn btn-danger btn-raised mr-1">Annuler</button>
              <button type="submit" class="btn btn-success btn-raised"
              [disabled]="!EditCropAdviceForm.valid">Soumettre</button><!-- [disabled]="!EditCropAdviceForm.valid" -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

