

<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ajouter un nouvel utilisateur</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form [formGroup]="AdminAddForm" (ngSubmit)="onAdminAddFormSubmit(AdminAddForm.value)" novalidate>
            <div class="form-group">
              <label for="inputEmail">Nom</label>

              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Entrez le nom d'utilisateur"
                required>
              <small class="form-text text-muted danger"
                *ngIf="!AdminAddForm.get('name').valid && (AdminAddForm.get('name').dirty || AdminAddForm.get('name').touched)">
                Le nom est obligatoire</small>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password"
                placeholder="Entrez le mot de passe de l'utilisateur" required>
              <small class="form-text text-muted danger"
                *ngIf="!AdminAddForm.get('password').valid && (AdminAddForm.get('password').dirty || AdminAddForm.get('password').touched)">Mot de passe
                la longueur des caractères doit être comprise entre 4 et 24!</small>
            </div>
            <div class="form-group">
              <label for="status">Statut</label>
              <ng-select [items]="statusData" bindLabel="value" bindValue="id" placeholder="Sélectionnez le statut"
                [(ngModel)]="selectedStatus" formControlName="status">
              </ng-select>
              <small class="form-text text-muted danger"
                *ngIf="!AdminAddForm.get('status').valid && (AdminAddForm.get('status').dirty || AdminAddForm.get('status').touched)">
                Le statut est obligatoire</small>
            </div>
            
            <div class="form-group text-right" style="align-content: center;">
              <button type="button" (click)="onClickCancel()" class="btn btn-danger btn-raised mr-1">Annuler</button>
              <button type="submit" class="btn btn-success btn-raised" [disabled]="!AdminAddForm.valid">Soumettre</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>