<!-- udser list -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="text-align: center;">Species List </h4>
        <!-- <button class="btn btn-primary">
          <a class="text-decoration-none text-white">Add Species</a>
        </button> -->
      </div>
      <div class="card-content">
        <table class="table table-responsive-sm text-center">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Picture</th>
              <!-- <th>Action</th> -->
          </thead>
          <tbody>
            <tr *ngFor="let item of specieslist; let i = index">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>
                <img src="{{item.image}}" height="100" width="150">
                </td>
              <td>
                <!-- <div>
                  <span>
                    <i class="icon-pencil" style="cursor: pointer;"></i>
                  </span>&nbsp;
                  <span>&nbsp;
                    <i class="icon-trash" style="cursor: pointer;" (click)="deleteSpecies(item.id)"></i>
                  </span>
                </div> -->
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>