<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Modifier l'espèce</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form [formGroup]="updateVarietyForm" (ngSubmit)="onSubmitForm(updateVarietyForm.value)" novalidate>
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" formControlName="name"
                placeholder="Entrez le nom de la catégorie de variété" required>
              <small class="form-text text-muted danger"
                *ngIf="!updateVarietyForm.get('varietyCat_img').valid && (updateVarietyForm.get('varietyCat_img').dirty || updateVarietyForm.get('varietyCat_img').touched)">
                le nom d'utilisateur est requis </small>
            </div>

            <div class="form-group">
              <label for="status">Statut</label>
              <ng-select [items]="statusData" bindLabel="value" bindValue="id" placeholder="Sélectionnez le statut"
                formControlName="status">
              </ng-select>
              <small class="form-text text-muted danger"
                *ngIf="!updateVarietyForm.get('status').valid && (updateVarietyForm.get('status').dirty || updateVarietyForm.get('status').touched)">
                Le statut est requis</small>
            </div>
            <div>
              <span>
                Remarque: assurez-vous que la résolution de l'image téléchargée est 1080x576 et que la taille de
                l'image n'est pas supérieure à 150 ko.
              </span>
            </div>
            <div class="form-group custom-file  mx-auto d-block">

              <section id="file-upload ml-0 col-md-3">
                <label class="custom-file">Sélectionnez l'image</label>
                <input type="file" formControlName="varietyCat_img" (change)="handleFileInput($event)" accept="image/*">
                <span class="custom-file-control"></span>
                <small class="form-text text-muted danger"
                  *ngIf="!updateVarietyForm.get('varietyCat_img').valid && (updateVarietyForm.get('varietyCat_img').dirty || updateVarietyForm.get('varietyCat_img').touched)">
                  Sélectionnez l'image</small>
              </section>

            </div>
            <div class="form-group" *ngIf="editRecord?.image">
              <img src="{{imgUrl}}{{editRecord.image}}" style="height: 100px;width: 100px; margin: 30px 10px;">
            </div>
            <div class="form-group text-right">
              <button type="button" (click)="onClickCancel()" class="btn btn-danger btn-raised mr-1">Annuler</button>
              <button type="submit" class="btn btn-success btn-raised"
                [disabled]="!updateVarietyForm.valid">Soumettre</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>